<h1>Edit a Figure</h1>

<h2><%= @figure.name %></h2>
<form action='/figures/<%= @figure.id %>' method='POST'>
<p>New name?</p>
<input type='text' name='figure[name]' id='figure_name'>
<input type='hidden' id= 'id' value='<%= @figure.id %>'>
<p>Titles:</p>
<% Title.all.each do |title| %>
<%= title.name %>
<input type='checkbox' value='<%= title.id %>' name='figure[title_ids][]' <%= 'checked' if @figure.title_ids.any? {|id| id == title.id} %>>  
<% end %>
<br>
<p>Landmarks:</p>
<% Landmark.all.each do |landmark| %>
<%= landmark.name %>
<input type='checkbox' value= '<%= landmark.id %>' name='figure[landmark_ids][]' <%= 'checked' if @figure.landmark_ids.any? {|id| id == landmark.id} %>>
<% end %>
<p>New Landmark?</p>
<input type='text' name='new_landmark'>
<br><br>
<input type='submit' value='Edit Figure'>
</form>
