<h1>Create a New Figure!</h1>
<form action='/figures' method='POST'>
<h2>Name: </h2>
<input type='text' name='figure[name]' id='figure_name'>

<h2>Select title(s)</h2>

<% @titles.each do |title| %>
<label><%= title.name %></label>
<label><input type='checkbox' name='figure[title_ids][]' id='title_<%= title.id %>' value='<%= title.id %>'></label>
<% end %>

<h2>Or create a new title:</h2>
<input type='text' name='title[name]' id='new_title'>

<h2>Select landmark(s)</h2>
<p>
<% @landmarks.each do |landmark| %>
<%= landmark.name %>
<input type='checkbox' name='figure[landmark_ids][]' id='landmark_<%= landmark.id %>' value='<%= landmark.id %>'>
<% end %>
</p>

<h2>Or create a new landmark:</h2>
<input type='text' name='landmark[name]' id='new_landmark'>

<input type='submit' value='Create New Figure'>
</form>
