<h1>Create a New Figure!</h1>
<form action='/figures' method='POST'>
<h2>Name: </h2>
<input type='text' name='figure[name]' id='figure_name'>

<h2>Select title(s)</h2>
<% @titles.each do |title| %>
<label><%= title.name %></label>
<p><input type='checkbox' name='figure[title_ids][]' id='title_<%= title.id %>' value='<%= title.id %>'></p>
<% end %>

<h2>Or create a new title:</h2>
<input type='text' name='title[name]' id='title_name'>

<h2>Select landmark(s)</h2>
<% @landmarks.each do |landmark| %>
<p><%= landmark.name %></p>
<p><input type='checkbox' name='figure[landmark_ids][]' id='<%= landmark.name %>' value='<%= landmark.id %>'></p>
<% end %>

<h2>Or create a new landmark:</h2>
<input type='text' name='landmark[name]' id='landmark_name'>

<input type='submit' value='Create New Figure'>
</form>
